<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!-- Instrument Connection -->
		<!-- add key="InstrumentURL" value="ws://localhost:8080/ws" /-->
		<!-- add key="InstrumentURL" value="ws://localhost:443/ws" /-->
		<!-- add key="InstrumentURL" value="wss://10.244.88.164:443/ws"/-->
		<add key="InstrumentURL" value="ws://localhost:443/ws"/>
		<add key="InstrumentRealm" value="realm1" />
		<add key="AuthorizationID" value="admin" />
		<add key="AuthorizationPwd" value="123456" />
		<add key="AuthorizationMethod" value="ticket" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>